*
{
	text-transform: capitalize;
	box-sizing: border-box;
}

body
{
	margin: 0; padding: 0;
	/*width: 100%;*/
	background-color: white;
	position: relative;
}

header
{
	width: 100%;
	height: 70px;
	color: white;
	/*position: absolute;*/
	/*top: 0;*/
	background-color: blueviolet;
	display: flex;
	justify-content: space-between;
	word-spacing: 50px;
	padding-right: 50px;


}

header h1
{
	float: left;
	font-size: 2rem;
	padding: 0 0 20px 20px;
	word-spacing: 0;

}



header nav ul li
{
	display: inline-block;
	list-style-type: none;
	font-style: none;
	/*direction: ltr;*/
	float: right;

	/*word-spacing: 50px;*/

}

header nav ul li a
{
	font-size: xx-large;
	/*font-style: none;*/
	/*direction: ltr;*/
	color: black;
	float: right;
	margin-right: 40px;
	text-decoration: none;
	padding-right:  5px;
	padding-left:  5px;
	transform: all;
	
}

header nav ul li a:hover
{
	font-size: 2.5rem;
	border-bottom: 1px solid black;
	background-color: blueviolet;
	color: black;
}

.midimage img
{
	margin-top: 5px;
	width: 100%;
	height: 350px;

}

.after-join 
{
	margin-left: 300px;
	margin-right:  300px;
}

.after-join h2
{
	color: black;
	font-size: 2rem;
	border:1px solid black;
	padding: 50px;
	
}


footer
{
	
	margin-top: 100px;
	width: 100%;
	height: 30px;
	background-color: blueviolet;
	padding-bottom: 50px;
	position: absolute;
	bottom: 0;
	font-size: large;
	text-align: center;

}

