*
{
	margin: 0; padding: 0;
	text-transform: capitalize;
	box-sizing: border-box;
}

body
{
	/*width: 100%;*/
	background-color: white;
	position: relative;
}

header
{
	width: 100%;
	height: 70px;
	color: white;
	/*position: absolute;*/
	/*top: 0;*/
	background-color: blueviolet;
	display: flex;
	justify-content: space-between;
	word-spacing: 50px;
	padding-right: 50px;


}

header h1
{
	float: left;
	font-size: 2rem;
	padding: 0 0 20px 20px;
	word-spacing: 0;

}



header nav ul li
{
	display: inline-block;
	list-style-type: none;
	font-style: none;
	float: right;
}

header nav ul li a
{
	font-size: xx-large;
	color: black;
	float: right;
	margin-right: 40px;
	text-decoration: none;
	padding: 15px 5px 0 5px;
   	
}

header nav ul li a:hover
{
	transform: scale(1.3,1.3);
	border-bottom: 1px solid gold;
	background-color: blueviolet;
	color: black;
}

/*.midimage img
{
	margin-top: 5px;
	width: 100%;
	height: 350px;
}
*/
[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }
  
.join-plans-heading h1
{
	margin-top: 50px;
	text-align: center;
	font-size: 2.4rem;
}

.join-plans
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left:  50px;
}


.join-plans .options
{
	width: 20%;
	height: 300px;
	margin-top: 50px;
	margin-right: 50px;
	border:2px solid black;
	text-align: center;
	position: relative;
	padding:20px 30px 0 30px;
	background-color: white;
}

.join-plans .options h1
{
	color: black;
	background-color: rgb(42, 236, 129);
	padding: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: -22%;
	transform: translate(-50%, +50%);
}

.join-plans .options h3
{
	color: black;
	font-size: 1.8rem;
}


.join-plans .options ol li
{
	font-size: 1.2rem;
	text-align: left;
	
}

.join-plans .options button
{
	padding: 10px;
	padding-left: 17px;
	padding-right:17px;
	border-radius: 50%;
	background-color: rgb(42, 236, 129);
	border-style: none;
	position: absolute;
	right: 30%;
	bottom: -8%;
}


.join-plans .options button a
{
    text-align: center;
	font-size: 1.3rem;
	text-decoration: none;
	color: black;
}

.join-plans .options button a:hover
{
	font-size: 1.5rem;
}	


footer
{
	
	margin-top: 100px;
	width: 100%;
	height: 40px;
	background-color:blueviolet;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
	font-size: large;
	text-align: center;

}